@import "/src/styles/extends";
@import "/src/styles/mixins";

.team {
  display: flex;

  padding: 345px 5px 295px 140px;
  font-size: 34px;
  line-height: 46px;

  @include media() {
    flex-direction: column;
    align-items: center;
    padding: 150px 5px 20px 5px;
  }

  &Text {
    max-width: 522px;
    width: 100%;
    margin-right: 82px;

    @include media() {
      margin-bottom: 50px;
      margin-right: 0;
      margin: {
        bottom: 50px;
        right: 0;
      };
      max-width: 70%;

      text-align: center;
    }
  }

  &Employee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: {
      right: 30px;
      bottom: 60px;
    }

    @include media() {
      margin-right: 0;
    }
  }

  &SubTitle {
    @extend %heading-bottom-margin;
  }
}