@import "/src/styles/mixins";

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;

  @include media() {
    justify-content: center;
  }
}