@import "/src/styles/mixins";
@import "/src/styles/extends";

.subTitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;

  @include media() {
    text-align: center;
  }

  &Default {
    @extend %heading-bottom-margin;
  }

  &DefaultRelative {
    @extend %heading-bottom-margin;

    position: relative;

    &:before {
      position: absolute;
      content: '';
      display: block;
      @include square(70px);
      top: 0;
      left: -120px;
      background: url("../../../images/star.svg") no-repeat center;

      @include media() {
        top: -105px;
        left: calc(50% - 70px / 2);
        text-align: center;
      }
    }
  }

  &DefaultCentered {
    @extend %heading-bottom-margin;

    text-align: center;
  }
}