$c-main-bg: #e5e5e5;


%logo-creation {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 65px;
    right: 120px;
    display: block;
    width: 228px;
    height: 60px;
    background: url("../images/logo.png");

    @media (max-width: 1100px) {
      left: calc(50% - 228px / 2);
    }
  }
}

.logo {
  @extend %logo-creation;
  background: $c-main-bg;
}

.logo-light {
  @extend %logo-creation;

  &:after {
    background: url("../images/logo-light.png");
  }
}

.nav {
  height: 100px;
  background-color: #4f4f4f;
  color: #fff;
  padding: 0 10px;

  @media (max-width: 799px) {
    height: auto;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media (max-width: 799px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .nav__item {
    transition: .5s;
    font-size: 30px;


    @media (max-width: 1150px) {
      font-size: 20px;
    }

    @media (max-width: 799px) {
      margin-bottom: 30px;
    }

    &:hover {
      color: #2299EF;
      transition: .5s;
    }
  }

  .active {
    color: #b000f2;
  }
}

.section-with-picture {
  display: flex;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}