@import "/src/styles/extends";
@import "/src/styles/mixins";

.competitive {
  position: relative;
  z-index: 1;

  padding: 149px 0 250px 87px;

  @include media() {
    padding-left: 0;
  }

  &:before {
    @extend %triangle-background;
    right: 0;
  }

  &Info {
    max-width: 60%;

    @include media() {
      max-width: 100%;
      padding: 0 5px;
    }

    @include media(562px) {
      text-align: center;
    }
  }

  &Title {
    margin-bottom: 70px;

    @include media() {
      text-align: center;
    }
  }

  &SubParagraph {
    margin-bottom: 50px;
  }
}