@import "/src/styles/mixins";

.mission {
  &SectionPicture {
    background: url("../../../images/background-image.png") no-repeat center {
      size: cover;
    };
  }

  &Main {
    width: 60%;

    padding: 149px 5px 149px 75px;

    @include media() {
      width: 100%;
      padding: 149px 5px;
    }
  }

  &SubText {
    margin-bottom: 50px;
    text-align: center;
  }

  &Title {
    margin-bottom: 70px;

    @include media() {
      text-align: center;
    }
  }
}